
#container{
	width: 1280px;
	height: 720px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 10px;
	border: 1px solid #000000;
	-moz-box-shadow: 10px 10px 15px rgba(0,0,0,.4);
	-webkit-box-shadow: 10px 10px 15px rgba(0,0,0,.4);
	box-shadow: 10px 10px 15px rgba(0,0,0,.4);
	position: relative;
	clear: both;
}

html{
	height: 100%;
	padding: 0px;
	background: -moz-linear-gradient(top, #000055, #333388);
	background: -ms-linear-gradient(top, #000055, #333388);
	background: -webkit-linear-gradient(top, #000055, #333388);
}
#ration{
	background-color: gray;
	color: black;
	width: 415px;
    padding: 5px;
    border: 10px inset blue;
    margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 5px;
}